$primaryColor: #49660f;
$secondaryColor: #d8b15c;

body {
    background: $secondaryColor;
}
h1 {
    color: $primaryColor;
}
.container {
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid red;
}
